* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    font-size: 62.5%;
}

body {
    background: rgb(27, 6, 31)
}

.app {
    margin-top: 50px;
    width: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-areas:  
      "header header header header"
      "nav nav nav nav" 
      "aside movies movies movies"
      "footer footer footer footer"
    ;
    grid-template-rows: 120px 70px auto 70px;
}

header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Sixtyfour", sans-serif;font-family: "Sixtyfour", sans-serif;
    color: #7603d4;
    background: transparent;
}

.logo__container{
    background: linear-gradient(90deg,#7603d4 15%, #3c3e58 100%);
    width: 40px;
    height: 40px;
    border-radius: 300px;
}

.logo__container-play{
    width: 0;
    height: 0;
    margin-top: 15px;
    margin-left: 16px;
    border-left: 12px solid rgb(255, 255, 255);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.nav__container {
    grid-area: nav;
    background: linear-gradient(90deg,#7603d4 15%, #3c3e58 100%);
}

.nav__container > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav__container li {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__container li > a{
    padding: 10px;
    text-decoration: none;
    font-family: "Mukta", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    color: rgb(241, 216, 255);
    transition: all 300ms;
}

.nav__container li > a:hover{
    transform: scale(1.2, 1.2);
    color:  rgb(147, 20, 221);
}

.movies__container {
    grid-area: movies;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: linear-gradient(#6f2ba7 ,#59446d);
}

.movies__container-movie-item{
    margin: 30px;
    padding: 60px 25px 60px 25px;
    background-color: #3d056b;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #9b9a9b;
}

.movie__item-edit, .movie__item-delete {
    width: 150px;
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 3px;
    margin: 15px 10px 5px 10px;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms;
    color: rgb(1, 0, 2);
    background: linear-gradient(160deg,#ffffff 0%,#7202aa 75%);
} 

.movie__item-edit:hover {
    background: #8400ff;
    color: wheat;
}

.movie__item-delete:hover {
    background: #300046;
    color: white;
}

.aside__container {
    grid-area: aside;
    border: 5px solid rgb(13, 74, 131);
    background: rgb(190, 14, 196);
}

footer {
    grid-area: footer;
    border: 5px solid rgb(169, 8, 209);
    background: rgb(230, 63, 21);
}
  