* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: auto;   
    align-items: center;
    background: rgb(27, 6, 31)
}

#root {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-areas:  
      "header header header header"
      "nav nav nav nav" 
      "aside movies movies movies"
      "footer footer footer footer"
    ;
    grid-template-rows: 120px 70px auto 70px;
}

header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Sixtyfour", sans-serif;font-family: "Sixtyfour", sans-serif;
    color: #7603d4;
    background: transparent;
}

.logo__container{
    background: linear-gradient(90deg,#7603d4 15%, #3c3e58 100%);
    width: 40px;
    height: 40px;
    border-radius: 300px;
}

.logo__container-play{
    width: 0;
    height: 0;
    margin-top: 15px;
    margin-left: 16px;
    border-left: 12px solid rgb(255, 255, 255);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.nav__container {
    grid-area: nav;
    border: 5px solid rgb(102, 35, 35);
    background: rgb(201, 56, 11);
}

.movies__container {
    grid-area: movies;
    border: 5px solid rgb(9, 161, 67);
    background: rgb(10, 156, 83);
}

.aside__container {
    grid-area: aside;
    border: 5px solid rgb(13, 74, 131);
    background: rgb(190, 14, 196);
}

footer {
    grid-area: footer;
    border: 5px solid rgb(169, 8, 209);
    background: rgb(230, 63, 21);
}
  